<style type="text/css">
  #failings_flaw_area {
    background:#f7f7f7!important;
    font-size:62.5%!important;
    text-align:left!important;
    font-family:Helvetica, Arial!important;
    border:1px solid #bbb;
    -moz-border-radius: 10px 10px 10px 10px!important;
    -webkit-border-top-left-radius:10px!important;
    -webkit-border-bottom-left-radius:10px!important;
    -webkit-border-top-right-radius:10px!important;
    -webkit-border-bottom-right-radius:10px!important;
    min-width:225px!important;
  }
  #failings_flaw_area fieldset#flaw_entry h2 {
    margin:0 0 10px 0!important;
    font-size:16px!important;
    color:#888!important;
    padding:15px 0 0px 45px!important;
    background:url(<%= image_url "icon_knew.png" %>) top left no-repeat!important;
  }
  #failings_flaw_area #flaw_entry .errorExplanation h2 {
    font-size:16px!important;
  }
  #failings_flaw_area fieldset#flaw_entry textarea {
    width:70%!important;
    font-weight:normal!important;
    font-size:15px!important;
    font-family:Helvetica, Arial!important;
    float:left!important;
    height:40px!important;
  }
  #failings_flaw_area .char_limit {
    display:block!important;
    clear:both!important;
  }
  #failings_flaw_area fieldset button {
    font-size:11px!important;
    float:left!important;
    height:40px!important;
    margin-left:10px!important;
    cursor:pointer!important;
  }
  #failings_flaw_area .close {
    position:absolute!important;
    top:0!important;
    right:5px!important;
    color:#fff!important;
    font-size:30px!important;
  }
  #failings_flaw_area .notify_box {
    position:relative!important;
    padding:10px!important;
    margin:30px 0!important;
    border:1px solid #ccc!important;
    background:#fafafa!important;
    -moz-border-radius: 10px 10px 10px 10px!important;
    -webkit-border-top-left-radius:10px!important;
    -webkit-border-bottom-left-radius:10px!important;
    -webkit-border-top-right-radius:10px!important;
    -webkit-border-bottom-right-radius:10px!important;
    -moz-box-shadow:1px 3px 7px #999!important;
    -webkit-box-shadow:1px 3px 7px #999!important;
  }
  #failings_flaw_area .notify_box .close {
    color:#555!important;
  }
  #failings_flaw_area .notify_box.flash {
    background:#ffffe7!important;
  }
  #failings_flaw_area .floating_box {
    text-align:left!important;
    width:300px!important;
    -moz-border-radius: 10px 10px 10px 10px!important;
    -webkit-border-top-left-radius:10px!important;
    -webkit-border-bottom-left-radius:10px!important;
    -webkit-border-top-right-radius:10px!important;
    -webkit-border-bottom-right-radius:10px!important;
    border-style:solid!important;
    border-width:1px!important;
    border-color:#777!important;
    position:absolute!important;
    padding:20px 10px!important;
    background:#222!important;
    opacity:0.9!important;
    z-index:999!important;
  }
  #failings_flaw_area .floating_box p {
    font-size:12px!important;
    color:#eee!important;
  }
  #failings_flaw_area fieldset {
    border:0!important;
  }
  #failings_flaw_area h3.mod_title {
    font-size:30px!important;
    color:#bbb!important;
    margin:10px 0 5px!important;
  }
  #failings_flaw_area .powered_by {
    font-size:11px!important;
    display:block!important;
    text-align:left!important;
    margin-top:0;
    padding-left:10px;
  }
</style>
<script type="text/javascript">
  function ismaxlength(obj){
    var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
    if (obj.getAttribute && obj.value.length>mlength)
    obj.value=obj.value.substring(0,mlength)
    document.getElementById('char_limit').innerHTML = mlength - obj.value.length;
  }
</script>
<div id="failings_flaw_area">
  <% form_for @failing, url: failings_url(@failing.user) do |f| %>
    <div class="floating_box" id="box_validate_lastname" style="display:none">
      <%= render "validation_message" %>
      <p>
        <strong><%= @user.question %></strong>
      </p>

      <%= f.text_field :answer, :autocomplete => "off" %>
      <%= f.submit "Ok - Send!" %>

      <a class="close" href="#" onclick="document.getElementById('box_validate_lastname').style.display='none'; return false;">x</a>
    </div>
    <fieldset id="flaw_entry">
      <h2>How can I improve?</h2>

      <%= f.text_area :about, :rows => "2", :cols => "50", :maxlength => "145", :onkeyup => "return ismaxlength(this)" %>
      <button type="button" onclick="document.getElementById('box_validate_lastname').style.display=''; document.getElementById('failing_answer').focus();">Submit</button>
      <span class="char_limit"><span id="char_limit">145</span> characters remaining</span>
    </fieldset>
  <% end %>
  <p class="powered_by">
    Visit <a href="<%= profile_url(@user) %>">my profile</a>.<br/>
    Powered by <a href="http://failin.gs">failin.gs</a>. Find out your flaws today.
  </p>
</div>
