<div class="feedback">
  <div class="toolbar">
    <strong><%= failing.votes_score %></strong> votes |
    <% unless voted_on? failing %>
      <%= link_to_remote "agree", url: failing_vote_path(failing.user, failing, agree: true), method: :post %> -
      <%= link_to_remote "disagree", url: failing_vote_path(failing.user, failing), method: :post %>
    <% end %>
  </div>
  <div class="feedback_text">
    <%= simple_format(h(failing.about)).html_safe! %>
  </div>
  <% failing.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.text %></p>
      <span><%= comment.created_at.to_s :long %></span>
    </div>
  <% end %>
  <% if failing.user == current_user && failing.needs_review? %>
    <div class="left">
      <%= link_to_remote "I knew this", url: knew_failing_path(failing.user, failing), method: :put %> -
      <%= link_to_remote "I had no idea!", url: no_idea_failing_path(failing.user, failing), method: :put %> -
      <%= link_to_remote "I disagree completely", url: disagree_failing_path(failing.user, failing), method: :put %>
    </div>
  <% end %>
  <div class="toolbar bottom">
    <% if failing.user == current_user && failing.needs_review? %>
      <div class="left">
        <img src="/images/icon_knew.png" alt="I knew this" />
        <%= link_to_remote "I knew this", url: knew_failing_path(failing.user, failing), method: :put %> -
        <img src="/images/icon_no_idea.png" alt="I had no idea!" />
        <%= link_to_remote "I had no idea!", url: no_idea_failing_path(failing.user, failing), method: :put %> -
        <img src="/images/icon_disagree.png" alt="I disagree completely" />
        <%= link_to_remote "I disagree completely", url: disagree_failing_path(failing.user, failing), method: :put %>
      </div>
    <% end %>
    <div class="right">
      <span onclick="">report abuse</span> -
      <span onclick="this.up('.feedback').select('.reply_wrapper')[0].show()">reply</span>
    </div>
  </div>
  <div class="reply_wrapper" style="display: none;">
    <% form_for failing.comments.build, url: failing_comment_path(failing.user, failing) do |f| %>
      <div>
        <%= f.text_area :text, :rows => "2" %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="reply_wrapper" style="display: none;">
    <% form_for failing.comments.build, url: failing_comment_path(failing.user, failing) do |f| %>
      <div>
        <%= f.text_area :text, :rows => "2" %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
