<div class="pic_area">
  <%= gravatar_for @user, default: image_url("default_pic.png"), size: 200 %>
  <% if @user == current_user %>
    <%= link_to "change this picture", "http://en.gravatar.com/site/signup", class: "change", target: "_blank" %>
  <% end %>
</div>

<div class="user_details">
  <span>Username:</span>
  <span class="answer"><%= @user.login %></span>

  <span>Joined:</span>
  <span class="answer"><%= @user.created_at.to_s :joined_on %></span>

  <% if @user == current_user %>
    <span>Email address (Invisible):</span>
    <span class="answer"><%= @user.email %></span>
  <% end %>

  <% unless @user.location.blank? %>
    <span>Location:</span>
    <span class="answer"><%= @user.location %></span>
  <% end %>

  <% unless @user.about.blank? %>
    <span>About me:</span>
    <span class="answer"><%= simple_format @user.about %></span>
  <% end %>

  <% if @user == current_user %>
    <p><%= link_to "update profile & settings", edit_account_path %></p>
  <% end %>
</div>
