<%
  votes_class = ""
  if failing.votes_score < -4
    votes_class = "opacity_low"
  elsif failing.votes_score < -2
    votes_class = "opacity_med"
  elsif failing.votes_score < 0
    votes_class = "opacity_high"
  else
    votes_class = "opacity_full"
  end
%>
<% div_for failing, class: "feedback #{css_class_for failing.state} #{votes_class}" do %>
  <div class="toolbar<%= ' move' if current_user == failing.user %>">
    <% if failing.state != "knew" %>
      <%= move_left_link failing if current_user == failing.user %>
    <% end %>
    <strong><%= failing.votes_score %></strong> votes
    <% unless voted_on? failing %>
      |
      <%= link_to "agree", failing_vote_path(failing.user, failing, agree: true), remote: true, method: :post %> -
      <%= link_to "disagree", failing_vote_path(failing.user, failing), remote: true, method: :post %>
    <% end %>
    <% if failing.state != "disagree" %>
      <%= move_right_link failing if current_user == failing.user %>
    <% end %>
  </div>
  <div class="feedback_text">
    <%= simple_format(h(failing.about)).html_safe %>
    <span class="create_date"><%= link_to failing.created_at.to_s(:timestamp), failing_url(failing.user, failing), :title => "Permalink" %></span>
  </div>
  <div id="<%= dom_id failing, :comments %>">
    <%= render failing.comments %>
  </div>
  <div class="toolbar bottom">
    <% if failing.user == current_user && failing.needs_review? %>
      <div class="left">
        <img src="/images/icon_knew.png" alt="I knew this" />
        <%= link_to "I knew this", knew_failing_path(failing.user, failing), remote: true, method: :put %>
        <img src="/images/icon_no_idea.png" alt="I had no idea!" />
        <%= link_to "I had no idea!", no_idea_failing_path(failing.user, failing), remote: true, method: :put %>
        <img src="/images/icon_disagree.png" alt="I disagree completely" />
        <%= link_to "I disagree completely", disagree_failing_path(failing.user, failing), remote: true, method: :put %>
      </div>
    <% end %>
    <div class="right">
      <% unless reported? failing %>
        <%= link_to "report abuse", failing_abuse_path(failing.user, failing), remote: true, method: :post, class: "abuse" %> -
      <% end %>
      <span onclick="this.up('.feedback').select('.reply_wrapper')[0].show().select('textarea')[0].focus()">reply</span>
    </div>
  </div>
  <div class="reply_wrapper" style="display: none;">
    <% form_for failing.comments.build, url: failing_comment_path(failing.user, failing), remote: true do |f| %>
      <div>
        <%= f.text_area :text, :rows => "2" %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="reply_wrapper" style="display: none;">
    <% form_for failing.comments.build, url: failing_comment_path(failing.user, failing) do |f| %>
      <div>
        <%= f.text_area :text, :rows => "2" %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>

<% if failing.user == current_user %>
  <script>
    new Draggable("<%= dom_id failing %>", {
      handle: ".toolbar",
      revert: true
    });
  </script>
<% end %>
