<% form_for @failing, url: failings_url(@failing.user) do |f| %>
  <div class="floating_box rounded_box drop_shadow" id="box_validate" style="display:none">
    <%= render "validation_message" %>

    <%= f.text_field :surname, autocomplete: "off" %>
    <%= f.submit "Ok - Send!", onclick: "nice_clear();" %>

    <%= link_to "x", "#", onclick: "$('box_validate').fade();", class: "close" %>
  </div>
  <fieldset id="flaw_entry">
    <h2>How can I improve?</h2>
    <%= f.error_messages %>
    <% if @user == current_user %>
      <p class="small">
        This is where your friends will leave you anonymous feedback. You have the ability to document
        your own flaws, if you want to, but we encourage you to leave it to your friends.
      </p>
    <% end %>
    <%= f.text_area :about, rows: "2", cols: "50", maxlength: "145", onkeyup: "return ismaxlength(this)" %>
    <button type="button" onclick="$('box_validate').show(); $('failing_surname').focus();">Submit</button>
    <span class="char_limit"><span id="char_limit">145</span> characters remaining</span>
  </fieldset>
<% end %>
