<div id="user_profile">
  <div class="pic_area">
    <%= gravatar_for @user, default: image_path("default_pic.png"), size: 200 %>
    <%= link_to "change this picture", "http://en.gravatar.com/site/signup", :class => "change" %>
  </div>

  <div class="user_details">
    <span>Username:</span>
    <span class="answer"><%= @user.login %></span>

    <% if @user == current_user %>
      <span>Email address (Invisible):</span>
      <span class="answer"><%= @user.email %></span>
    <% end %>

    <% unless @user.location.blank? %>
      <span>Location:</span>
      <span class="answer"><%= @user.location %></span>
    <% end %>

    <% unless @user.about.blank? %>
      <span>About me:</span>
      <span class="answer"><%= simple_format(h(@user.about)).html_safe! %></span>
    <% end %>

    <% if @user == current_user %>
      <p><%= link_to "update profile & settings", edit_account_path %></p>
    <% end %>
  </div>

  <% if @user == current_user %>
    <div class="announce">
      <h2>Announce your profile!</h2>

      <p>Now that you have a profile, send it to everyone you know so they can
      provide you with your anonymous constructive criticism!</p>

      <div class="share_links">
        <a href="http://twitter.com/?status=Signed%20up%20at%20@failings%20so%20my%20friends%20anonymously%20tell%20me%20what%20they%20don't%20like%20about%20me!%20<%= profile_url(@user) %>%20eep!"><%= image_tag "tweet_this.jpg", alt: "Tweet this!" %></a>
        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2F<%= profile_url(@user) %>&src=sp"><%= image_tag "facebook_this.jpg", alt: "Facebook this!" %></a>
      </div>
    </div>
  <% end %>
</div>

<div id="flaw_area">
  <% form_for @failing do |f| %>
    <fieldset id="flaw_entry">
      <h2>What is wrong with me?</h2>
      <%= f.error_messages %>

      <%= f.text_area :about, :rows => "2", :cols => "50" %>
      <button type="button" onclick="$('box_validate').show(); $('last_name').focus();">Submit</button>

      <div class="floating_box" id="box_validate" style="display:none">
        <p><strong>failin.gs</strong> is a community where you can anonymously
        critique your friends' various personality flaws.</p>

        <p>It's important, though, to make sure that the people who leave
        feedback actually know the person they're critiquing.</p>

        <p>In order to post this feedback, please enter the last name of the
        person you are critiquing.</p>

        <%= f.text_field :surname %>
        <%= f.submit "Ok - Send!" %>

        <%= link_to_function "x", "$('box_validate').fade();", class: "close" %>
      </div>
    </fieldset>
  <% end %>

  <% if @user.private? && @user != current_user %>
    <%= render partial: "private" %>
  <% else %>
    <% %w(needs_review knew no_idea disagree).each do |state| %>
      <div class="flaw_box <%= css_class_for state %>"<%= ' style="display: none;"'.html_safe! unless @user.failings.send(state).any? %>>
        <h3><%= title_for state %></h3>
        <div id="<%= state %>">
          <%= render partial: "failing", collection: @user.failings.send(state) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @user == current_user %>
  <script>
    Droppables.add("knew", {
      accept: ["unrated", "no_idea", "disagree"],
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request(location.href + "/failings/" + id + "/knew", { method: "put" });
      }
    });

    Droppables.add("no_idea", {
      accept: ["unrated", "knew", "disagree"],
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request(location.href + "/failings/" + id + "/no_idea", { method: "put" });
      }
    });

    Droppables.add("disagree", {
      accept: ["unrated", "knew", "no_idea"],
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request(location.href + "/failings/" + id + "/disagree", { method: "put" });
      }
    });
  </script>

  <style>
    .move {
      cursor: move;
    }
  </style>
<% end %>
