<div id="user_profile">
  <%= render :partial => "failing_user" %>
  <% if @user == current_user %>
    <div class="announce rounded_box">
      <h2>Announce your profile!</h2>

      <p>Now that you have a profile, <a href="/share/new">send it to everyone you know</a> so they can
      provide you with your anonymous constructive criticism!</p>

      <p><a href="/share/new">Use our emailer</a>, <a href="#" onclick="$('embed_instructions').appear(); return false;">embed</a> it in your website, or blast it using one of the following networks:</p>

      <div class="share_links">
        <a href="http://twitter.com/?status=Signed%20up%20at%20@failings%20so%20my%20friends%20anonymously%20tell%20me%20what%20they%20don't%20like%20about%20me!%20<%= profile_url(@user) %>%20eep!"><%= image_tag "tweet_this.jpg", alt: "Tweet this!" %></a>
        <a href="http://www.facebook.com/sharer.php?u=<%= profile_url(@user) %>&src=sp"><%= image_tag "facebook_this.jpg", alt: "Facebook this!" %></a>
      </div>
    </div>
  <% end %>
</div>

<div id="flaw_area">
  <%# render "flash_message" %>

  <%= render "failings_form" %>

  <%= render "embed_instructions" %>

  <% if @user.private? %>
    <%= render "private" %>
  <% else %>
    <%= render "public" %>
  <% end %>

  <%- if @user.failings.count.zero? -%>
    <%= render "empty_profile" %>
  <% else %>
    <% if !@user.private? || @user == current_user %>
      <% %w(needs_review knew no_idea disagree).each do |state| %>
        <div class="flaw_box <%= css_class_for state %>"<%= ' style="display: none;"'.html_safe if state == "needs_review" && @user.failings.send(state).none? %>>
          <h3><%= title_for state %></h3>
          <div id="<%= state %>">
            <%= render "empty_category", any: @user.failings.send(state).any? %>
            <%= render @user.failings.send(state) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @user == current_user %>
  <script>
    Droppables.add("knew", {
      accept: ["unrated", "no_idea", "disagree"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/knew", { method: "put" });
      }
    });

    Droppables.add("no_idea", {
      accept: ["unrated", "knew", "disagree"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/no_idea", { method: "put" });
      }
    });

    Droppables.add("disagree", {
      accept: ["unrated", "knew", "no_idea"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/disagree", { method: "put" });
      }
    });
  </script>

  <style>
    .move {
      cursor: move;
    }

    .hover * {
      background: #ffa !important;
    }
  </style>
<% end %>
