<% title @user.login %>

<div id="user_profile">
  <%= render "failing_user" %>
  <% if @user == current_user && !@user.profile_empty? %>
    <div class="announce rounded_box">
      <h2>Announce your profile!</h2>

      <p>Now that you have a profile, <strong>send it to everyone you know</strong> so they can
      provide you with your anonymous feedback!</p>

      <%= render "failings/blast_methods" %>
    </div>
  <% end %>
</div>

<div id="flaw_area">
  <%= render "common/flash_message" %>

  <%= render "failings_form" %>
  <%= render "be_nice" %>

  <%= render "embed_instructions" %>

  <% if @user.private? %>
    <%= render "private" %>
  <% elsif @user == current_user && !@user.preferences["hide_public_notice"] %>
    <%= render "public" %>
  <% end %>

  <% if @user == current_user && @user.profile_empty? %>
    <%= render "empty_profile" %>
  <% elsif @user != current_user && !@user.private? && @user.failings.reviewed.count.zero? %>
    <%= render "empty_profile_public" %>
  <% else %>
    <% if !@user.private? || @user == current_user %>
      <% %w(needs_review knew no_idea disagree).each do |state| %>
        <div class="flaw_box <%= css_class_for state %>"<%= ' style="display: none;"'.html_safe if state == "needs_review" && failings_for(@user, state).none? %>>
          <h3>
            <%= title_for state %>
            <% if state == "needs_review" %>
              <% if current_user == @user %>
                <span>These are private till you categorize them.</span>
              <% else %>
                <span>You submitted these. They'll be private till <%= @user.login %> categorizes them.</span>
              <% end %>
            <% end %>
          </h3>
          <div id="<%= state %>">
            <%= render "empty_category", any: failings_for(@user, state).any? %>
            <%= render failings_for(@user, state) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @user == current_user %>
  <script>
    Droppables.add("knew", {
      accept: ["unrated", "no_idea", "disagree"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/knew", { method: "put" });
      }
    });

    Droppables.add("no_idea", {
      accept: ["unrated", "knew", "disagree"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/no_idea", { method: "put" });
      }
    });

    Droppables.add("disagree", {
      accept: ["unrated", "knew", "no_idea"],
      hoverclass: "hover",
      onDrop: function (element) {
        id = element.id.replace(/\D+/g, "");
        element.hide();
        new Ajax.Request("<%= profile_path(@user) %>/failings/" + id + "/disagree", { method: "put" });
      }
    });
  </script>

  <style>
    .move {
      cursor: move;
    }

    .hover * {
      background: #ffa !important;
    }
  </style>
<% end %>
