<% title "#{@user.login} - #{truncate @failing.about, length: 64}" %>

<h2 class="page_title <%= @failing.state %>">
  <%= @user.login %>
  <% if @failing.state == "knew" %>
    knew this
  <% elsif @failing.state == "no_idea" %>
    had no idea
  <% else %>
    disagrees completely
  <% end %>
  <span><a href="<%= profile_url(@user) %>"><%= profile_url(@user) %></a></span></h2>
<%= render @failing %>
