<%= render "header" %>
<p>Hey <%= @user.login %>,</p>

<p>Someone has added feedback to your profile!  You might have something to work on:</p>

<p><%= @failing.about %></p>

<p>Link: <%= link_to @url, @url %></p>

<p>From your friends at failin.gs!</p>
<%= render "footer" %>
