<%= render "header" %>
<p>Hey <%= @user.login %>,</p>

<p>Welcome to failin.gs!</p>

<p>What next?  It's important to get your profile out there!</p>

<p>Your profile URL is <a href="<%= profile_url(@user) %>"><%= profile_url(@user) %></a></p>

<ul>
  <li><a href="http://twitter.com/?status=Signed%20up%20at%20@failings%20so%20my%20friends%20anonymously%20tell%20me%20what%20they%20don%27t%20like%20about%20me!%20<%= profile_url(@user) %>%20eep!">Tweet it</a></li>
  <li><a href="http://www.facebook.com/sharer.php?u=<%= profile_url(@user) %>&src=sp">Post it to Facebook</a></li>
  <li><a href="http://failin.gs/share/new">Email it to your friends</a></li>
</ul>

<p>The more exposure it gets, the more valuable your feedback! </p>

<p>We hope you enjoy using the site.</p>

<p>From your friends at failin.gs!</p>
<%= render "footer" %>
