<%= render "header" %>
<p>Hey <%= @user.login %>,</p>

<p>Someone had something to say about this failing:</p>

<p><%= @comment.failing.about %></p>

<p>They said:</p>

<p><%= @comment.text %></p>

<p>Link: <%= link_to @url, @url %></p>

<p>From your friends at failin.gs!</p>
<%= render "footer" %>
