<%= render "header" %>
<p>Hey <%= @user.login %>,</p>

<p>Someone has added feedback to your profile!  You might have something to work on:</p>

<%= simple_format @failing.about %>

<p>Link: <%= link_to profile_url(@user, anchor: @failing), profile_url(@user, anchor: @failing) %></p>

<p>From your friends at failin.gs!</p>
<%= render "footer" %>
