<%= render "header" %>
<p>Hey <%= @user.login %>,</p>

<p>Welcome to failin.gs!</p>

<p>What next?  It's important to get your profile out there!</p>

<p>Your profile URL is <a href="<%= profile_url(@user) %>"><%= profile_url(@user) %></a></p>

<ul>
  <li><a href="<%= twitter_link(profile_url(@user)) %>">Tweet it</a></li>
  <li><a href="<%= facebook_link(CGI.escape profile_url(@user)) %>">Post it to Facebook</a></li>
  <li><a href="http://failin.gs/share/new">Email it to your friends</a></li>
</ul>

<p>The more exposure it gets, the more valuable your feedback! </p>

<p>We hope you enjoy using the site.</p>

<p>From your friends at failin.gs!</p>
<%= render "footer" %>
