<div id="user_profile" class="edit">
  <div class="pic_area">
    <%= gravatar_for @user, default: image_url("default_pic.png"), size: 200 %>
    <p>
      User avatars are hosted at a service called <a href="http://en.gravatar.com/site/signup">Gravatar</a>.
      We prefer it because your Gravatar image will always be there on participating sites, making things
      easier for you. You only need to set it up once and then you're good to go.
    </p>
    <p>
      Set up your <a href="http://en.gravatar.com/site/signup">Gravatar</a> image now.
  </div>
  <% form_for @user, :url => account_path do |f| %>
    <div class="user_details">
      <h2>Your user details</h2>
      <%= f.error_messages %>

      <%#= f.label :login, "Username:" #%>
      <%#= f.text_field :login, maxlength: User::LOGIN_LENGTH.max #%>

      <%= f.label :surname, "Your <strong>real</strong> last name:" %>
      (<%= link_to "Why we ask", "#", onclick: "$('box_important').appear(); return false;" %>):
      <%= f.text_field :surname %>

      <%= f.label :email, "Email address:" %>
      <%= f.text_field :email %>

      <%= f.label :location, "Location:" %>
      <%= f.text_field :location %>

      <%= f.label :about, "About me:" %>
      <%= f.text_area :about, rows: 5, cols: 80 %>

      <%= f.submit "Save all this" %>
    </div>

    <div class="announce rounded_box">
      <h2>Want a new password?</h2>

      <%= f.label :password, "New password:" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Twice to be sure:" %>
      <%= f.password_field :password_confirmation %>

      <h2>Private Profile</h2>

      <%= f.check_box :private %>
      <% f.label :private, class: "checkbox" do %>
        I'm shy. Only let me see my feedback.
      <% end %>

      <h2>Email notifications</h2>

      <%= f.check_box :subscribe %>
      <% f.label :subscribe, class: "checkbox" do %>
        Let me know when someone posts something to my account.
      <% end %>

      <h2>Want to remove your account?</h2>
      <p>We'd be sad to see you go, but we understand that the truth hurts.</p>
      <blockquote class="drop_shadow">
        "I'll say. <%= link_to "Let me out", account_path, method: :delete, confirm: "Are you sure you want to do this? There is no undo and your profile will be gone forever." %>"
      </blockquote>
    </div>
  <% end %>
</div>
