<% title "Edit your account" %>
<h2 class="page_title knew">Account Settings<span>Tweak to your heart's content</span></h2>
<div id="user_profile" class="edit">
  <%= render "users/pic_area" %>

  <% form_for @user, url: account_path do |f| %>
    <div class="user_details">
      <%= render "common/flash_message" %>

      <h3 class="mod_title">Your personal settings</h3>
      <p class="small">
        Welcome private-beta user. Thanks for helping us test the site.
        We imagine there might be some bugs in here, so if you see something weird,
        use the green feedback tab on the left of the screen. In the meantime, pardon
        the dust!
      </p>
      <%= f.error_messages %>
      <h3>Security Question</h3>
      <%#= f.label :login, "Username:" #%>
      <%#= f.text_field :login, maxlength: User::LOGIN_LENGTH.max #%>

      <%= f.label :question, "Security question: (#{link_to 'Why we ask', '#', onclick: '$("box_important").appear(); return false;'})".html_safe %>
      <%= f.text_field :question %>

      <%= f.label :answer, "Security question response:" %>
      <%= f.text_field :answer %>
      <h3>Personal Information</h3>
      <p class="small">
        Optionally, you can enter your full name, which we use
        to identify you when you send your profile through our email tool.
      </p>
      <%= f.label :name, "Your full name (not shown on your profile):" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Email address (also hidden):" %>
      <%= f.text_field :email %>

      <p class="small">
        Next, provide some additional details about yourself. Be descriptive, otherwise someone
        might not know who you are.
      </p>
      <%= f.label :location, "Location:" %>
      <%= f.text_field :location %>
      <%= f.label :about, "About me:" %>
      <%= f.text_area :about, rows: 5, cols: 80, maxlength: 500, onkeyup: "return ismaxlength(this)" %>

      <%= f.submit "Save all this" %>
    </div>

    <div class="announce rounded_box">
      <h2>Additional Settings</h2>
      <p class="small">
        Here are some additional settings
        for you. You can save your changes
        at the bottom of the page.
      </p>

      <%= f.label :password, "New password:" %>
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation, "Twice to be sure:" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <h2>Private Profile</h2>

      <%= f.check_box :private %>
      <% f.label :private, class: "checkbox" do %>
        I'm shy. Only let me see my feedback.
      <% end %>

      <h2>Email notifications</h2>

      <%= f.check_box :subscribe %>
      <% f.label :subscribe, class: "checkbox" do %>
        Let me know when someone posts something to my account.
      <% end %>

      <h2>Want to remove your account?</h2>
      <p>We'd be sad to see you go, but we understand that the truth hurts.</p>
      <blockquote class="drop_shadow">
        "I'll say. <%= link_to "Let me out", account_path, method: :delete, confirm: "Are you sure you want to do this? There is no undo and your profile will be gone forever." %>"
      </blockquote>
    </div>
  <% end %>
</div>
