<% title "a platform for completely anonymous feedback" %>

<div class="cols_2 homepage">
  <div class="col col_1">
    <h2>What is failin.gs?</h2>
    <p>
      As humans, we naturally want to know what others think of us, either to boost our egos or to help us know what skills we need to work on. Failin.gs puts the concept of brutal honesty to the test by letting you post opinions from those who know you, without revealing who says what.
      Basically, <strong>failin.gs</strong> wants to help you answer that age-old question:
    </p>
    <blockquote>
      "What do people think of me, really?"
    </blockquote>
    <h3 class="mod_title"><strong>Create</strong> a profile, <strong>blast</strong> your social networks, <strong>connect</strong> with friends <strong>(and critique them too)</strong>!</h3>
    <p><strong>Don't worry</strong>, you can easily <strong>make your profile completely private</strong> so you're the only one that can see your feedback.</p> 
    <br/>
    <%= image_tag "fake_profile.png", :alt => "Example Profile" %>
  </div>
  <div class="col col_2">
    <% if @user_session %>
      <% if @user %>
        <p>Returning user? <a href="#" onclick="show_login()">Log in here</a>.</p>
      <% end %>
      <%= render "user_sessions/form" %>
    <% end %>
    <% if @user %>
      <% if @user_session %>
        <p>New user? Sign up <a href="#" onclick="show_signup()">here</a>.</p>
      <% end %>
      <%= render "users/form" %>
    <% end %>
    <%= render "users/request" %>
    <%= facebook_login %>
    <%= twitter_login %>
  </div>
</div>

