<%= render "notifier/header" %>
<p>Hi <%= @user.login %>,</p>

<p>To reset your password, please visit:</p>

<p><a href="<%= edit_password_url(perishable_token: @user.perishable_token) %>"><%= edit_password_url(perishable_token: @user.perishable_token) %></a></p>
<%= render "notifier/footer" %>
