<fieldset id="login_form">
  <% form_for @user_session, :url => user_session_path do |f| %>
    <%= f.error_messages %>
    <div>
      <%= f.label :login, "Username (or email address):" %>
      <%= f.text_field :login %>
    </div>
    <%= javascript_tag %{$("user_session_login").focus();} if session[:return_to] %>
    <div>
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %>
    </div>
    <a href="/password_reset/new">Forgot your password?</a>
    <div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</fieldset>
