<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>failin.gs: don't worry. nobody's perfect.</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="failin.gs seeks to answer a that perhaps all of us have asked ourselves at some point: 'What is wrong with me?'">
  <meta name="keywords" content="failings, flaws, anonymous, social web, social networking, self-improvement, fun">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "dragdrop" %>
  <%= javascript_include_tag "controls" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= render :partial => "common/feedback" %>
  <div id="wrapper">
    <h1 id="logo" onclick="window.location.href='/'">failin.gs</h1>
    <script type="text/javascript">
      function randomize_logo() {
        $('logo').style.backgroundImage = "url('/images/logo_" + Math.floor(Math.random()*3) + ".png')";
      }
      randomize_logo();
    </script>
    <div id="container">
      <div id="top_links">
        <ul>
          <% if logged_in? %>
            <li><%= link_to "my profile", profile_path(current_user) %></li>
            <li><%= link_to "settings", edit_account_path %></li>
            <li><%= link_to "invite friends", new_invitation_path %>
            <% if App.beta? && current_user.invites_left > 0 %>
              (<span id="invites_left"><%= current_user.invites_left %></span>)</li>
            <% end %>
            <li><%= link_to "log out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "register", new_user_session_path %></li>
            <li><%= link_to "log in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <p class="social_links">follow us on twitter <a href="http://twitter.com/failings">@failings</a></p>
      <div class="body">
        <div id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <strong>a joint venture from <a href="http://twoawesomedudes.com">two awesome dudes</a>.</strong> &copy <%= Date.today.year %> - <a href="/pages/terms">Terms of Use &amp; Privacy</a>
    </div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-12415011-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
