<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>failin.gs: don't worry. nobody's perfect.</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="wrapper">
    <h1 id="logo" onclick="window.location.href='/'">failin.gs</h1>
    <script type="text/javascript">
      function randomize_logo() {
        $('logo').style.backgroundImage = "url('/images/logo_" + Math.floor(Math.random()*3) + ".png')";
      }
      randomize_logo();
    </script>
    <div id="container">
      <% if logged_in? %>
        <div id="logged_in">
          <ul>
            <li><%= link_to "my profile", user_path %></li>
            <li><%= link_to "settings", edit_user_path %></li>
            <li><a href="/pages/invite">invite friends</a> (x)</li>
            <li><%= link_to "log out", user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% end %>
      <div class="body">
        <div id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      a joint venture from <a href="http://twoawesomedudes.com">two awesome dudes</a>.</strong> &copy 2009 - <a href="/pages/terms">Terms of Use &amp; Privacy</a>
    </div>
  </div>
</body>
</html>
